@font-face {
    font-family:'Poppins';
    font-style: normal;
    font-weight: 100;
    src: url("../fonts/Poppins-Thin.ttf") format("ttf");
}
@font-face {
    font-family:'Poppins';
    font-style: normal;
    font-weight: 100;
    src: url("../fonts/Poppins-ThinItalic.ttf") format("ttf");
}
@font-face {
    font-family:'Poppins';
    font-style: normal;
    font-weight: 200;
    src: url("../fonts/Poppins-ExtraLightItalic.woff") format("wotf");
    src: url("../fonts/Poppins-ExtraLightItalic.ttf") format("ttf");
}

